@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Scada');

*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
	height: 100%;
	color: #000;
}
body{
	font-family: 'Scada', sans-serif;
	height: 100%;
    background-color: #E5E5E5;
}

.slider{
	max-width: 1170px;
	height: 800px;
	margin: 40px 40px;
	&-container{
		height: 100%;
		max-width: 100%;
		position: relative;
		margin: auto;
		overflow: hidden;
	}
	&-item{
		width: 100%;
		position: absolute;
		touch-action: none;
	}
	&-nav{
		position: absolute;
		top: 600px;
		right: 0;
	}
}

.nav-prev, .nav-next{
	display: inline-block;
	width: 32px;
	height: 16px;
	cursor: pointer;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}
.item{
	&-article{
		padding: 8px 0;
		border-bottom: 1px solid #92887E;
		opacity: .3;
	}
	&-img img{
		width: 100%;
	}
}
.article{
	transition: all 1.5s ease;
	&-theme{
		padding-bottom: 4px;
	}
	&-title{
		font-family: 'Spectral';
		font-weight: 700;
		font-size: 2rem;
		margin: 6px 0 6px 0;
	}
	&-data{
		color: #92887E;
	}
}

.fade-img{
	-webkit-animation-name: fade-img;
	-webkit-animation-duration:  1.5s;
	animation-name: fade-img;
	animation-duration: 1.5s;
	opacity: 0;
}

@-webkit-keyframes fade-img{
	0%{opacity: 1}
	50%{opacity: 0}
}
@keyframes fade-img{
	0%{opacity: 1}
	50%{opacity: 0}
}

.fade-article{
	-webkit-animation-name: fade-article;
	-webkit-animation-duration:  1.5s;
	animation-name: fade-article;
	animation-duration: 1.5s;
	opacity: 0;
}

@-webkit-keyframes fade-article{
	0%{opacity: 1}
	50%{
		opacity: 0;
		transform: translate(0, -15%);
	}
}
@keyframes fade-article{
	0%{opacity: 1}
	50%{
		opacity: 0;
		transform: translate(0, -15%);
	}
}

.active-img{
	-webkit-animation-name: active-img;
	-webkit-animation-duration:  1.5s;
	animation-name: active-img;
	animation-duration: 1.5s;
	opacity: 1;
}
@-webkit-keyframes active-img{
	from{opacity: 0}
	to{opacity: 1;}
}
@keyframes active-img{
	from{opacity: 0}
	to{opacity: 1}
}

.active-article{
	-webkit-animation-name: active-article;
	-webkit-animation-duration:  1.5s;
	animation-name: active-article;
	animation-duration: 1.5s;
	opacity: 1;
}
@-webkit-keyframes active-article{
	0%{
		opacity: 0;
		transform: translate(0, 40%);
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes active-article{
	0%{
		opacity: 0;
		transform: translate(0, 40%);
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}
}
